.header{
    width: 90%;
    margin-left: 5%;
    height: 180px;
    display: flex;
    justify-content: center;
align-items: center;
}

/* conmapy */
.header .company{
    width: 20%;
    margin-left: 30px;
    height: 200px;
   overflow: hidden;
 
}
.header .company #logo{
    margin-top: 18%;
width: 70%;
height: auto;
/* margin-left: -40%; */
}

/* contact */
.header .contact{

    width: 25%;
    margin-left: 30px;
    height: 200px;
   overflow: hidden;
 
}
.header .contact #icon{
    color: rgb(27, 82, 128);
    width: 40%;
margin-top: 20%;
float: left;   
/* padding-left: 10%; */
 height: 50px;
    font-size: 0px;
}
.header .contact h1{
    float: right;
    padding-top: 50px;
font-weight: 500;
color: rgb(107, 106, 106);
    width: 60%;
    font-size: 18px;
}
.header .contact p{
    float: right;
    font-size: 15px;
margin-top: -4%;
width: 67%;
color: rgb(167, 167, 167);
padding-right: 0px;

}



.header .location{
    width: 25%;
    height: 220px;
 
}
.header .time{
    width: 25%;
    height: 220px;
 
}