/* disbale webkits */

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.miniheader{
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgb(187, 187, 187);
}

.miniheader .iconsss{
    width: 300px;
    align-items: center;
    height: 40px;
    list-style: none;
    float: left;

  
  
}

.miniheader .iconsss li{
    height: 40px;
width: auto;
    display: inline-block;
}
.miniheader .iconsss .iconss{
font-size: 20px;
margin-left: 20px;
margin-top: 10px;
width: 30px;
color: rgb(124, 118, 118);
cursor: pointer;
transition: all 0.6s;

}


.miniheader .iconsss .iconss:hover{
   color: rgb(40, 7, 187);
}


/* mini icon right */
.miniheader .rightIcons{
 
    float: right;
    width: 600px;
    align-items: center;
    height: 40px;
    list-style: none;
   display: flex;
   justify-content: right;
   /* justify-content: center; */
}


.miniheader .rightIcons .icon{
font-size: 23px;
margin-right: 20px;
width: 30px;
color: rgb(124, 118, 118);
cursor: pointer;
}





/* hidden serach bar */

.miniheader .searchbar{
    position: absolute;
    display: none;
    top: 6.5%;
    right: 1%;
width: 450px;
height: 110px;
border-radius: 6px;
box-shadow: 0px 1px 10px 0px rgb(200, 200, 200);
border: 1px solid rgb(200, 200, 200);
background-color: #e9e9e9;

}
.miniheader .searchbar .items{
    position: relative;
    top: 0;
    left: 0;
width: 100%;
height: 110px;
display: flex;
align-items: center;
justify-content: center;
}

.miniheader .searchbar #search{
width: 350px;
border-radius: 30px;
height: 40px;
border: none;
outline: none;
font-size: 19px;
padding-left: 20px;
}

.miniheader .searchbar #icon{
    position: absolute;
    top: 37%;
right:14%;

font-size: 28px;
color: rgb(119, 119, 119);
}




/* media query */
@media screen and (max-width: 767px) {

    .miniheader{
        width: 100%;
        height: auto;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgb(187, 187, 187);
    }
    
    .miniheader .icons{
        width: auto;
      padding-top: 5%;
      
        height: auto;
       
        float: none;
   
    }
    
    
    .miniheader .icons .icon{
    font-size: 8vw;
margin-left: 20px;

    width: auto;
    }
    
    
    .miniheader .icons .icon:hover{
       color: rgb(38, 170, 15);
    }
    
    
    /* mini icon right */
    .miniheader .rightIcons{
     clear: both;
        float: none;
        margin-top: 5%;
        width: auto;
        align-items: center;
        height: auto;
        list-style: none;
       display: flex;
       justify-content: center;
     padding-bottom: 3%;
    }
    
    
    .miniheader .rightIcons .icon{
    font-size: 9vw;
    margin-left: 0;
    width: auto;
    
    }
    
    
    
    
    
    /* hidden serach bar */
    
    .miniheader .searchbar{
        position: relative;
        /* display: none; */
        top: 0%;
        right: 0%;
    width: 96%;
    height: auto;
    margin-left: 2%;
    height: auto;
    border-radius: 6px;

    }
    .miniheader .searchbar .items{
        position: relative;
        top: 0;
        left: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .miniheader .searchbar #search{
    width: 90%;
    border-radius: 30px;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    border: none;
    outline: none;
    font-size: 5vw;
    margin-left: 5%;
    padding-left: 6%;
    }
    
    .miniheader .searchbar #icon{
        position: relative;
        top: 0%;
    right: 10%;
    
    font-size: 8vw;
    color: rgb(119, 119, 119);
    }
    
    
    
}