
  .affix {
    z-index: 99;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }

.navbar{
  position: sticky;
  top: 0;
  left: 0;
    width: 100%;
    border-top: 3px solid rgb(255, 255, 255);
    height: 10px;
z-index: 88;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
}

.navbar .links{
    width: 86%;
    margin-left: 7%;
    display: flex;
   height: 60px;
margin-top: -0.9%;
    align-items: center;
justify-content: center;
}

.navbar .links a{
padding-left: 30px;
height: 60px;

    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

.navbar .links a li{
    list-style: none;
font-size: 20px;
cursor: pointer;

height: 0px;
width: auto;

line-height: 60px;
color: rgb(43, 42, 42);
font-family: 'Public Sans', sans-serif;
}
.navbar .links a li:hover{
  color: rgb(219, 30, 30);

  border-bottom: 7px solid rgb(0, 241, 60);

}
.navbar .links a li ul{
  display: none;
  position: absolute;
  z-index: 62;
  margin-top: -17px;
  width: 220px;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 4px 19px 0px black;

  background-color: rgb(245, 245, 245);
}
.navbar .links a li:hover ul{
  display: block;
}
.navbar .links a li ul a{
  display: block;
  clear: both;
  text-align: center;
margin-left: -24%;
}
.navbar .links a li ul a li{
border-top: 0px;
width: 100%;
padding-bottom: 0%;

font-size: 18px;

border-bottom: 1px solid rgb(121, 121, 121);
}
.navbar .links a li ul a li:hover{

  color: rgb(219, 30, 30);

  border-bottom: 1px solid rgb(121, 121, 121);
}
.navbar .links a .active{
color: rgb(219, 30, 30);
    border-bottom: 7px solid rgb(0, 241, 60);

}


#drop{
  font-size: 40px;
color: rgb(43, 42, 42);

}
.cart{
  position: relative;
  top: 0%;
  right: 0%;
}
 #cart{
 
  padding-right: 40%;
float: left;
  width: 90px;
  height: 40px;

  /* background-color: red; */
}


.cart #noti{
position: absolute;
top: -25%;
left: 35%;
height: 25px;
width:25px;
border-radius: 40px;
text-align: center;
color: rgb(243, 243, 243);
background-color: rgb(52, 211, 4);
font-size: 17px;
}
#noti:hover{
  color: rgb(255, 255, 255) !important;
background-color: rgb(18, 19, 18);

}