.allergy{
    width: 100%;
    height: auto;

}


.allergy h1{
font-size: 30px;
padding-left: 70px;
}


.allergy .list{
    width: 100%;
    margin-bottom: 5%;
    margin-bottom:1%;
height: auto;
word-wrap: break-word;
    padding-left: 5%;
}

.allergy .list li{
    float: left;
    position: relative;
    top: 0;

    left: 0;
    width: 30%;
    margin-top: 2%;
    color: rgb(229, 13, 236);

    height: auto;
    word-break: break-all;
    margin-left: 1%;
    font-size:16px;
}


.allergy .list li p{
    width: 76%;
    position: absolute;
    top: 0;
    left: 5%;
    color: rgb(68, 67, 67);
  margin-top: 0%;
    padding-bottom: 1%;
    font-size: 13px;
font-weight: 600;
    float: left;
    margin-left: 5%;
}
 
.allergy .list li .icons{
    float: right;
    margin-right: 6%;
    font-size: 27px;
    cursor: pointer;
    color: rgb(13, 177, 35);

}