.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



 .btn{
  position: absolute;
  position: fixed;
  bottom: 0;
  right:0;
  width: 200px;
  box-shadow: 2px 7px 18px 2px rgb(133, 133, 133);
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 15px;
  height: auto;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

 .btn .md{
  margin-left: -12%;
color: white;


font-size: 30px;
}

 .btn button{
  width: 80%;
height: 30px;
outline: none;
border: none;
color: white;
font-size: 18px;
background: none;
}
  







#loader{
 
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 999;
width: 98.5vw;
border-color: white;
clear: both;
height: 100vh;
}
#loader img{
  position: absolute;
  top: 0;
  left: 15%;
  height: auto;
width: 75%;
}